.navigation {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  color: #ffffff;
  border-bottom: 0.063rem solid #ffffff;
  padding: 0.5rem;
  text-transform: uppercase;
}
.brand-name {
  font-size: 1.75rem;
  font-weight: 400;
  font-family: "Antonio", sans-serif;
  margin-left: 1rem;
  line-height: 2.264rem;
  letter-spacing: -0.066rem;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.navigation-menu {
  margin-left: auto;
  color: #ffffff;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 0.688rem;
  line-height: 1.5rem;
  letter-spacing: 0.063rem;
  margin-right: 1rem;
}
.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}
.navigation-menu a:hover {
  border-bottom: 0.125rem solid #ffffff;
}
/* .nav-active {
  border-bottom: 0.125rem solid #ffffff
} */
.navigation-menu a.active {
  border-bottom: 0.125rem solid #108738;
}

/* Hamburger  */
.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 1.563rem;
  transform: translateY(-50%);
  display: none;
}
.hamburger img {
  height: 3.125rem;
  width: 3.125rem;
}
.hamburger:hover {
  background-color: #26af6a;
}

/* Pages */
.container {
  display: flex;
  height: calc(100vh - 5rem);
  flex-direction: column;
  margin: 3rem 8rem;
}
.container-body {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  color: #ffffff;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

/* Img */
.planet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 15rem);
  padding-bottom: 2rem;
}
.plant-img {
  position: relative;
}
.overview {
  width: 290px;
  height: 290px;
  top: 328px;
  left: 335px;
}
.internal {
  position: absolute;
  width: 290px;
  height: 290px;
  top: 0px;
  left: 0px;
  display: none;
}
.surface {
  position: absolute;
  width: 163px;
  height: 199px;
  top: 235px;
  left: 60px;
  display: none;
}
/* Context */
.container-context {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 21.875rem;
  text-align: left;
}
.context-title {
  font-family: Antonio;
  font-size: 5rem;
  font-weight: 400;
  line-height: 6.5rem;
  letter-spacing: 0px;
  margin-bottom: 1.5rem;
}
.context-text {
  font-family: Spartan;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.563rem;
  letter-spacing: 0px;
  margin-bottom: 1rem;
}

/* LinkSource */
.text-link {
  display: flex;
  align-items: center;
  justify-items: center;
  font-family: Spartan;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.563rem;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 1rem;
  opacity: 50%;
}
span {
  font-family: Spartan;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.563rem;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: underline;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
.icon {
  width: 0.75rem;
  height: 0.75rem;
  top: 0.5rem;
  left: 9.5rem;
}
/* plantStages */
.plant-stage {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: 21.875rem;
  height: 3rem;
  top: 36.063rem;
  left: 57.813rem;
  border: 0.063rem solid #ffffff;
  padding-left: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.plant-stage:hover {
  background-color: #419ebb;
  color: #ffffff;
  border: none;
}
.number {
  font-family: Spartan;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.563rem;
  letter-spacing: 2.5714285373687744px;
  text-align: left;
  margin-right: 1rem;
  opacity: 50%;
}
.stage-text {
  font-family: Spartan;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.563rem;
  letter-spacing: 2.5714285373687744px;
  text-align: left;
}
/* card */
.container-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  gap: 0.625rem;
  text-transform: uppercase;
}
.card {
  width: 15.938rem;
  height: 8rem;
  border: 0.031rem solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}
.card-title {
  font-family: Spartan;
  font-size: 0.688rem;
  font-weight: 700;
  line-height: 1.563rem;
  letter-spacing: 0.063rem;
  text-align: left;
  opacity: 50%;
}
.card-value {
  font-family: Antonio;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.25rem;
  letter-spacing: -0.094rem;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .navigation {
    height: 6.25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .brand-name {
    margin-left: 0;
    margin-bottom: 1.5rem;
  }
  .navigation-menu {
    margin-right: 0;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hamburger {
    display: none;
  }
  .container {
    display: flex;
    height: calc(100vh - 6.25rem);
    margin: 0rem 2rem 0rem 2rem;
  }
  .container-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-bottom: 1rem;
  }
  .container-context {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
  }
  .context-title {
    font-size: 3rem;
    line-height: 3.875rem;
  }
  .context-text {
    font-size: 0.688rem;
  }
  .text-link {
    font-size: 0.75rem;
  }
  span {
    font-size: 0.75rem;
  }
  .container-text {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 21.188rem;
    height: 15.813rem;
  }
  .context-btn {
    display: flex;
    flex-direction: column;
    height: 9.5rem;
  }
  .plant-stage {
    width: 17.563rem;
    height: 2.5rem;
  }
  .stage-text,
  .number {
    font-size: 0.563rem;
  }
  .card {
    width: 10.25rem;
    height: 5.5rem;
  }
  .card-title{
    font-size: 0.5rem;
    line-height: 1.313rem;
    letter-spacing: 0.046rem;
  }
  .card-value{
    font-size: 1.5rem;
    line-height: 1.941rem;
    letter-spacing: -0.05rem;
  }
}

@media (max-width: 375px) {
  .navigation {
    height: 3.75rem;
    width: 80%;
    background-color: #89c922;
  }
  .navigation-menu ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 4.813rem);
    background-color: white;
    border-top: 0.063rem solid black;
  }
  .hamburger {
    display: block;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
}
