.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 0.5rem;
  text-transform: uppercase;
}
.brand-name {
  font-size: 28px;
  font-weight: 400;
  font-family: "Antonio", sans-serif;
  margin-left: 1rem;
  line-height: 36.23px;
  letter-spacing: -1.05px;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.navigation-menu {
  margin-left: auto;
  color: #ffffff;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 24px;
  letter-spacing: 1px;
  margin-right: 1rem;
}
.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}
.navigation-menu a:hover {
  border-bottom: 2px solid #ffffff;
}
/* .nav-active {
  border-bottom: 2px solid #ffffff
} */
.navigation-menu a.active {
  border-bottom: 2px solid #108738;
}

/* Hamburger  */
.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger img {
  height: 50px;
  width: 50px;
}
.hamburger:hover {
  background-color: #26af6a;
}

/* Img */
.planet {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10rem;
}
.overview {
  height: 290px;
  width: 290px;
  background-color: aqua;
}
.internal {
  background-color: #108738;
  width: 139px;
  height: 278px;
}
.surface {
  background-color: yellow;
  width: 163px;
  height: 199px;
}
/* Pages */
.container {
  display: flex;
  height: calc(100vh - 70px);
  flex-direction: column;
  align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;
}
.container-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  color: #ffffff;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.container-context {
  display: flex;
  flex-direction: column;
  width: 350px;
  text-align: left;
}

/* Context */
.context-title {
  font-family: Antonio;
  font-size: 80px;
  font-weight: 400;
  line-height: 104px;
  letter-spacing: 0px;
  margin-bottom: 1.5rem;
}
.context-text {
  font-family: Spartan;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  margin-bottom: 1rem;
}

/* LinkSource */
.text-link {
  font-family: Spartan;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 1rem;
}
span {
  font-family: Spartan;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: underline;
}
/* plantStages */
.plant-stage {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: 350px;
  height: 48px;
  top: 577px;
  left: 925px;
  border: 0.5px solid #ffffff;
  padding-left: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.plant-stage:hover {
  background-color: #419ebb;
  color: #ffffff;
  border: none;
}
.number {
  font-family: Spartan;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2.5714285373687744px;
  text-align: left;
  margin-right: 1rem;
}
.plant-stage .stage-text {
  font-family: Spartan;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2.5714285373687744px;
  text-align: left;
}
/* card */
.container-card {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: #ffffff;
  width: 90%;
  margin-top: 3rem;
}
.card {
  width: 255px;
  height: 128px;
  top: 840px;
  left: 165px;
  border: 0.5px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}
.card-title {
  font-family: Spartan;
  font-size: 11px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: left;
  
}
.card-value {
  font-family: Antonio;
font-size: 40px;
font-weight: 400;
line-height: 52px;
letter-spacing: -1.5px;
text-align: left;

}


@media (max-width: 768px) {
  .navigation {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
    /* background-color: rgb(0, 255, 247); */
  }
  .brand-name {
    margin-left: 0;
    margin-bottom: 1.5rem;
  }
  .navigation-menu {
    margin-right: 0;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hamburger {
    display: none;
  }
}
@media (max-width: 375px) {
  .navigation {
    height: 60px;
    width: 80%;
    background-color: #89c922;
  }
  .navigation-menu ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
  }
  .hamburger {
    display: block;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
}
